@import '../js/components/Audio/index.module.css';
@import '../js/components/Buttons/index.module.css';
@import '../js/components/Carousel/index.module.css';
@import '../js/components/Gallery/index.module.css';

/***** STD *****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(13, 17, 23);
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px; 
  border-radius: 4px;
  margin: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.35); /* Cor da trilha do scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2); /* Cor da trilha do scrollbar */
  border-radius: 4px;
}

.mark, mark {
    background: rgba(255,255,255,1);
    font-weight: 600;
}

/***** HEADER *****/
header {
  min-height: 8rem;
  position: relative;
  background: none;
  z-index: 9;
}

#nav {
  display: flex;
  align-items: center;
  min-width: 30rem;
  max-width: 40rem;
  gap: 2rem;
  height: 100%;
  margin: 1rem auto 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 17, 23, 0.6);
  padding: 0.8rem 1.6rem;
  border-radius: 4.8rem;
}

.wrapper-button {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#nav ul.nav-links {
  display: flex;
  gap: 4rem !important;
  color: white;
}

#nav ul.nav-links ul {
  display: flex;
  gap: 1rem;
}

#nav ul.nav-links>li {
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}

#nav ul.nav-links>li:hover {
  border-bottom: 1px solid rgba(255,255,255,0.4);
  transition: all 0.4s ease;
}

#nav ul.nav-links li a {
    font-weight: 600;
}

#nav ul.nav-links ul li i {
  font-size: 1.6rem;
}

.logo {
  color: white;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  line-height: 1.4rem;
}

/***** MAIN *****/
main {
  position: relative;
  top: -8rem;
  height: 100vh;
}

.std.hero {
  position: relative;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/***** SECTION ABOUT ME *****/
.info-section {
  display: none;
  position: relative;
}

.info-section.active-section {
  display: block;
}

.wrapper-sections {
  display: none;
  margin-top: 8vh;
  max-height: 74vh;
  overflow: auto;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

hr {
  border-color: rgba(255,255,255,0.4);
}

.presentation.me {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.presentation.me img {
  border-radius: 50%;
  min-width: 250px;
}

.text-presentation h1 {
  text-align: center;
  margin-bottom: 4rem;
}

button.button-navigation.back {
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: 0vh;
}

.presentation {
  padding: 4rem 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.title {
    font-weight: 600;
}

.presentation .title {
  text-align: center;
}

.presentation.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.presentation.languages {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.skills-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.group-lang {
  display: flex;
  gap: 8rem;
  justify-content: center;
  text-align: center;
}

/***** GAME SECTIONS *****/
.game-section {
  display: none;
  position: relative;
}

.game-section.active-section {
  display: block;
  position: relative;
}

.header-game {
  border-radius: 1rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
  
.header-game img {
  width: 100%; 
  max-height: 30vh;
  object-fit: cover;
}

.wrapper-sections h2.title {
  margin: 4rem 0 2rem;
}

.option-plataform {
  display: flex;
  width: fit-content;
  gap: 2rem;
}

button.button-navigation.game-download {
  filter: invert(1);
}

.contributors {
  display: flex;
  flex-direction: column;
}

.contributors a {
  border-bottom: 1px solid transparent;
  transition: border .4s ease;
  width: fit-content;
  margin-bottom: 0.6rem;
}

.contributors a:hover {
  border-bottom: 1px solid rgba(255,255,255,0.4);
  transition: border .4s ease;
}

.button-navigation.publish {
  filter: invert(1);
}

.button-navigation.publish .button-navigation-top {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/***** FOOTER *****/
footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 12rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgb(13, 17, 23);
}

.copy {
  text-align: center;
  padding: 0.8rem 0.8rem;
  background: transparent;
  border: 0.5px solid rgba(255,255,255, 0.1);
  border-radius: 0.6rem;
}

.copy a {
  font-size: 1.2rem;
  line-height: 1.2;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

/***** GAMEPLAY UNITY *****/
.wrapper-gameplay {
  width: 100%;
}

iframe#game_drop {
  width: 100%;
  height: 650px;
}

.std-control-game {
  transform: scale(0.6);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.gameplay-section .wrapper-sections {
  display: flex !important;
  gap: 1rem;
  padding: 0;
}

.game-controls {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.more-buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-width: 275px;
}

.controls img {
  max-width: 100px;
}

.std-control-game p {
  margin: 0;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
}

.game-controls h3 {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

/* MEDIUM SCREENS */
@media screen and (max-width: 767px) {
  /***** HEADER *****/
  header {
    min-height: 14rem;
 }

  #nav {
    background: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0;
  }

  #nav .wrapper-button {
    gap: 1rem;
    padding: 1rem 2rem;
    background: rgba(13, 17, 23, 0.6);
    border-radius: 5rem;
  }

  #nav ul.nav-links ul {
    gap: 2rem;
  }

  #nav ul.nav-links ul li i {
    font-size: 20px;
  }

  #nav ul.nav-links {
    padding: 1rem 2rem;
    align-items: center;
    background: rgba(13, 17, 23, 0.6);
    border-radius: 5rem;
  }

  /***** MAIN *****/
  main {
    top: -13.5rem;
  }

  .wrapper-info {
    bottom: 25%;
    right: 50%;
    transform: translate(50%, 50%);
  }

  video,
  .button-navigation.playBtn {
    display: none;
  }

  .desc-small-devices {
    display: block !important;
    position: absolute;
    bottom: 0rem;
    padding: 2rem 4rem;
    text-align: center;
    font-weight: 600;
    background: rgba(13, 17, 23, 0.6);
  }

  /***** SECTION ABOUT ME *****/
  .info-section .me {
    flex-direction: column;
  }
  
  .info-section .me img {
    min-width: 200px;
  }
  
  .presentation.skills {
    flex-direction: column;
  }
  
  .group-lang {
    flex-direction: column;
    gap: 1rem;
  }
  
  .skills-group {
    gap: 1rem;
  }
  
  .skills-group p {
    display: flex;
    justify-content: space-evenly;
  }
  
  .presentation {
    padding: 2rem 0;
  }

   /***** SECTION GAME *****/
   .wrapper-sections {
    padding: 2rem;
    margin-top: 12rem;
    max-height: 61vh;
  }

  .wrapper-sections h2,
  .wrapper-sections p,
  .wrapper-sections a {
    text-align: center;
  }

  .wrapper-sections .text-presentation p {
    text-align: justify;
  }
  
  .button-navigation.game-download {
    display: flex;
    margin: 0 auto;
  }
  
  .contributors a {
    border: none;
    text-decoration: none;
    display: flex;
    margin: 0.6rem auto;
  }
  
  .contributors a:hover {
    border: none;
    text-decoration: underline;
  }

  .option-plataform {
    flex-direction: column;
    margin: 0 auto;
  }

  /***** FOOTER *****/
  .copy {
    padding: 0.6rem 0.6rem;
  }

  .copy a {
    font-size: 1.0rem;
    line-height: 1.0;
  }
}